* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding-left: 0;
}

.list {
  background-color: lightgreen;
  border: 1px solid black;
  margin-top: 2px;
}

.pointer {
  cursor: pointer;
}
.done {
  text-decoration: line-through;
}
.new-task {
  width: 100%;
}
